@font-face {
    font-family: 'alte_haas_grotesk';
    src: url('webfontkit-alte-haas-grotesk/altehaasgroteskregular-webfont.woff2') format('woff2'),
         url('webfontkit-alte-haas-grotesk/altehaasgroteskregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'alte_haas_grotesk';
    src: url('webfontkit-alte-haas-grotesk/altehaasgroteskbold-webfont.woff2') format('woff2'),
         url('webfontkit-alte-haas-grotesk/altehaasgroteskbold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}



* {
    margin: 0;
    padding: 0;
    font-family: alte_haas_grotesk, sans-serif;
    box-sizing: content-box;
}

body {
    height: 100vh;
}

main {
    display: flex;
    height: 100%;
    
}

.image {
    background-image: url(images/bady-abbas-hxi_yRxODNc-unsplash.jpg);
    background-position: 0px;
    background-size: cover;
    width: 40%;
}

.logo-container {
    background: rgba(0, 0, 0, 70%);
    margin-top: 50px;
    padding: 20px 25px;
    color: white;
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
}

.logo-container h1 {
    display: inline;
    margin-left: 25px;
    font-size: 3em;
    
}

.logo {
    height: 50px;
    filter: invert(1);
}

.form-container {
    background-color: rgb(26, 26, 26);
    width: 60%;
    color: white;
    position:relative;
}

.quote {
    font-size: 1.5em;
    max-width: 70%;
    line-height: 2em;
    margin: 10% 15% 0 15%;
}

.author {
    padding: 40px 200px;
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
}

.inputs {
    position: absolute;
    right: 0;
    display: block;
    max-width: 80%;
    color: black;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

label {
    display: block;
}

.inputs p {
    min-width: 40%;
}
